@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-list::-webkit-scrollbar {
   width: 5px;
   background-color: #1e293b;
   border-radius: 5px;
}

.todo-list::-webkit-scrollbar-thumb {
   background-color: #3b82f6;
   border-radius: 5px;
}

@layer base {
   .section {
      @apply flex flex-col items-center justify-center w-full md:w-[500px] lg:w-[450px] xl:w-[550px];
   }

   .h1 {
      @apply text-gray-200 text-2xl md:text-3xl font-bold font-primary;
   }

   .h2 {
      @apply font-primary text-primary font-semibold text-xl md:text-2xl mb-8 md:mb-10 tracking-[10%] uppercase text-center;
   }

   .btn {
      @apply bg-primary text-secondary cursor-pointer border-none outline-none rounded-lg w-12 md:w-14 h-12 md:h-14 text-xl 
      md:text-2xl flex justify-center items-center lg:hover:bg-secondary
       lg:hover:text-primary transition-all;
   }

   .btn-form {
      @apply cursor-pointer flex-1 py-2 rounded-lg text-xl 
      text-center lg:hover:scale-95 transition-all;
   }
}
